.counter-detail-wrapper {
    display: flex;
    justify-content: center;
}

.counter-detail-card {
    max-width: 600px;
    text-align: left;
    margin: 5px;
    display: inline-block;
}



.counter-detail-title h3 {
    margin: 0px;
}

.counter-detail-content-element {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.element-title {
    display:inline-block;
    width: 25%;
    margin: 0px;
    padding: 1em;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.element-content {
    display:inline-block;
    font-weight: bold;
    margin-left: 10px;
}

.element-title {
    text-decoration: lightblue;
}